  /* CSS styles go here */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333333;
    color: #e91c1c;
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #b4c0d4;
    color: #311288;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333333;
    color: #e91c1c;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
}